<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.bussiness.system.dao.ISysUserDao">
	<resultMap type="SysUser" id="userResult" autoMapping="true">
		<id property="dbid" column="dbid"/>
		<result property="userid" column="userid"/>
	</resultMap>
	
	
	<select id="findByUserid" resultType="SysUser">
		SELECT * FROM SYS_USER
		<where>userid = #{userid}</where>
	</select>
	
	<select id="findUserByDbid" resultType="SysUser">
		SELECT * FROM SYS_USER
		<where>dbid = #{dbid}</where>
	</select>
	
	<select id="findUserByPage" resultMap="userResult">
		<![CDATA[SELECT T.dbid,T.userid,T.staffid,T.status FROM SYS_USER T]]>
		<where>
			<if test="user.userid != null">
				T.userid LIKE CONCAT('%',#{user.userid},'%')
			</if>
			<if test="user.staffid != null">
				AND T.staffid LIKE CONCAT('%',#{user.staffid},'%')
			</if>
		</where>
	</select>
	
	<update id="updateUserid" parameterType="SysUser">
		UPDATE sys_user set userid = #{userid} where dbid = #{dbid} 
	</update>
	
	<update id="updateSysUser" parameterType="SysUser">
		UPDATE SYS_USER SET USERID = #{userid},STAFFID = #{staffid},PASSWORD = #{password},STATUS = #{status}
		<where>
			dbid = #{dbid}
		</where>
	</update>
	
	<insert id="addSysUser" useGeneratedKeys="true" parameterType="SysUser">
		<selectKey keyProperty="dbid" resultType="int"  order="AFTER">
			<![CDATA[SELECT LAST_INSERT_ID()]]>
		</selectKey>
		<![CDATA[INSERT INTO sys_user VALUES(#{dbid},#{userid},#{staffid},#{password},#{status})]]>
	</insert>
	
	<delete id="updateStatus" parameterType="SysUser">
		<![CDATA[UPDATE SYS_USER SET STATUS =#{status} WHERE USERID = #{userid}]]>
	</delete>
</mapper>
